{
  "overrides": [
    {
      "files": "*.js, *.jsx",
      "options": {
        "parser": "flow"
      }
    }
  ],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
